/* converted from SCSS using https://www.sassmeister.com/ */
html,
body {
  margin: 0;
  font-family: Gill Sans, sans-serif;
}

h1,
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

th {
  text-align: center;
}

/* Menu */
.menu_item {
  flex: 1;
}

.menu_container {
  display: flex;
  width: 100%;
  background-color: #1c1808;
  font-weight: 300;
  color: white;
  align-items: center;
}
.menu_container .menu_item nav ul {
  display: flex;
}
.menu_container .menu_item nav ul li {
  height: 100%;
}
.menu_container .menu_item nav ul li a {
  padding: 0.5em 3em;
  border-radius: 3px;
  text-decoration: none;
}
.menu_container .menu_item nav ul li a:hover {
  background-color: #becccf;
  color: #1c1808;
}

/* Title */
.title_container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding: 10px;
}

.title_container h3 {
  padding-top: 10px;
  flex: 7;
}

.title_container h1 {
  flex: 1;
}

/* Main Content */
.main_content {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3em;
}

.main_content .sub_main {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main_content .img {
  background-color: gray;
  width: 100%;
}

.main_content .img img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.main_content .main_item {
  border: 1px solid black;
  width: 360px;
  height: 390px;
  margin: 3em 3em;
  border-radius: 5px;
}

.main_content .main_item:hover {
  box-shadow: 0px 0px 20px #becccf;
}

.main_content .main_item .img_content {
  padding: 10px;
}

.challenge-content,
.main-element {
  padding: 2em;
}

#menu_item_nav {
  /* addition */
  flex: 2;
}

/* Contact */
.main-element {
  /* padding: 2em; */
}

/* Challenges */
.challenge-content {
  /* padding: 2em; */
}

/* The animation code */
@keyframes shake {
  0% {
    left: 0px;
  }
  50% {
    left: 40px;
  }
  100% {
    left: 0px;
  }
}
/* The element to apply the animation to */
#contact-img1 {
  width: 10em;
  padding: 2em;
  position: relative;
  animation-name: shake;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

#challenge-submit1 {
  margin-bottom: 3em;
}

#challenge-results1 {
  width: 80%;
  visibility: hidden;
}

/* Regex */
.danger {
  box-shadow: 1px 1px 10px red;
  padding: 10px;
  margin: 10px 5px;
}

#feedback {
  position: relative;
  top: 2em;
  width: 20%;
  right: 10px;
  top: 0;
  padding: 1em;
}
